.user {
	height: 100%;
	padding: 60px;
	background-color: #21222D;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	gap: 30px;

	.flex-line {
		width: 100%;
		display: flex;
		gap: 30px;
	}

	.flex-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.add {
		cursor: pointer;
	}

	.edit {
		cursor: pointer;
	}
}