body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
a:active,
a:visited,
a img {
  outline: none;
  text-decoration: none;
  color: black;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --background: rgba(62, 58, 80, 1);
  --text-primary: white;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme='dark'] {
  --background: white;
  --text-primary: black;
  --text-secondary: grey;
  --accent: darkred;
}

p, span {
  color: var(--text-primary);
}
